<div class="title-bar" data-responsive-toggle="main-nav" data-hide-for="large">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="main-nav" data-animate="hinge-in-from-top spin-out">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li><a href="/" title="Photography by Dysiok">Dysiok</a></li>
      <%- Spree::Taxonomy.first.root.children.each do |child| -%>
      <li>
        <a href="/t/<%= child.permalink-%>"><%= child.name -%></a>
        <%- if child.children.size > 0 -%>
          <ul class="vertical menu">
            <%- child.children.each do |sub_child| -%>
              <li><a href="/t/<%= sub_child.permalink-%>"><%= sub_child.name -%></a></li>
            <%- end -%>
          </ul>
        <%- end -%>
      </li>
      <%- end -%>
    </ul>
  </div>

  <div class="top-bar-right">
    <ul class="menu">
      <%- Spree::Page.all.each do |page| -%>
        <li><a href="<%= page.slug -%>"><%= page.title -%></a></li>
      <%- end -%>
			<% if spree_current_user %>
				<li><%= link_to Spree.t(:my_account), spree.account_path %></li>
				<li><%= link_to Spree.t(:logout), spree.logout_path %></li>
			<% else %>
				<li id="link-to-login"><%= link_to Spree.t(:login), spree.login_path %></li>
			<% end %>
      <li><%= link_to_cart %></li>
    </ul>
  </div>
</div>
