<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li><a href="/">Photography by Dysiok</a></li>
      <%- Spree::Taxonomy.first.root.children.each do |child| -%>
      <li>
        <a href="/t/<%= child.permalink-%>"><%= child.name -%></a>
        <%- if child.children.size > 0 -%>
          <ul class="vertical menu">
            <%- child.children.each do |sub_child| -%>
              <li><a href="/t/<%= sub_child.permalink-%>"><%= sub_child.name -%></a></li>
            <%- end -%>
          </ul>
        <%- end -%>
      </li>
      <%- end -%>
    </ul>
  </div>

  <div class="top-bar-right">
    <ul class="menu">
      <%- Spree::Page.all.each do |page| -%>
        <li><a href="<%= page.slug -%>"><%= page.title -%></a></li>
      <%- end -%>
			<% if spree_current_user %>
				<li><%= link_to Spree.t(:my_account), spree.account_path %></li>
				<li><%= link_to Spree.t(:logout), spree.logout_path %></li>
			<% else %>
				<li id="link-to-login"><%= link_to Spree.t(:login), spree.login_path %></li>
			<% end %>
      <li><%= link_to_cart %></li>
    </ul>
  </div>
</div>
